# Database (PostgreSQL)
DATABASE_URL=postgresql://usuario:contraseña@194.163.174.103:5432/nanobanana

# NextAuth
AUTH_SECRET=genera_un_secreto_aleatorio_aqui
AUTH_URL=http://localhost:3000

# n8n
N8N_WEBHOOK_URL=https://n8n.cheosdesign.info/webhook-test/generadorAnuncios
N8N_CALLBACK_SECRET=tu_secreto_para_validar_callbacks
